In [22]:
import json
import pandas as pd

In [23]:
data = pd.read_json('sizes.json', lines=True)

In [24]:
data.head()

,__v,_id,created_at,filter_label,label,old_label,updated_at
0,0,{'$oid': '557abe8565950003006fefe7'},{'$date': '2015-06-12T11:12:05.248Z'},S,26,[26\],{'$date': '2015-07-07T16:29:11.868Z'}
1,0,{'$oid': '557abe8565950003006fefe5'},{'$date': '2015-06-12T11:12:05.244Z'},XS,24,"[24, 24\]",{'$date': '2015-07-07T16:27:03.743Z'}
2,0,{'$oid': '557abe8565950003006fefe8'},{'$date': '2015-06-12T11:12:05.249Z'},S,28,[28\],{'$date': '2015-07-07T16:36:22.139Z'}
3,0,{'$oid': '557abe8565950003006fefe6'},{'$date': '2015-06-12T11:12:05.247Z'},S,25,[25],{'$date': '2015-07-07T16:29:03.370Z'}
4,0,{'$oid': '557abe8565950003006fefe9'},{'$date': '2015-06-12T11:12:05.249Z'},M,30,[30\],{'$date': '2015-07-07T16:44:25.382Z'}

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51210 entries, 0 to 51209
Data columns (total 7 columns):
__v             51210 non-null int64
_id             51210 non-null object
created_at      51210 non-null object
filter_label    294 non-null object
label           51210 non-null object
old_label       51210 non-null object
updated_at      51210 non-null object
dtypes: int64(1), object(6)
memory usage: 2.7+ MB

**Observations**
- dataframe has 7 columns/ 51210 lines
- filter_label column has only 294 entries, vs 51 210 lines
- dataframe entries are objects which is not the most suitable type for data manipulation

**Data frame columns - detailed view**

In [26]:
column_names=list(data)

In [27]:
column_types=[type(data._id[0]),
type(data.__v[0]),
type(data.created_at[0]),
type(data.filter_label[0]),
type(data.label[0]),
type(data.old_label[0]),
type(data.updated_at[0])]

In [28]:
for i in range (0,len(column_names)):
    print(column_names[i],column_types[i])

__v <class 'dict'>
_id <class 'numpy.int64'>
created_at <class 'dict'>
filter_label <class 'str'>
label <class 'str'>
old_label <class 'list'>
updated_at <class 'dict'>

** Step 1 - flatten the dataframe**

1.1 Column **_if**: explore dictionary keys and values

In [29]:
col_name='_id'

In [30]:
def flatten_dic(df,col_name):
    keys=[]
    values=[]
    for index, row in data.iterrows():
        item=row[col_name]
        keys.extend(item.keys())
        values.extend(item.values())
    return keys, values

In [31]:
keys_id, values_id= flatten_dic(data, col_name)

In [32]:
def check_unique(item):
    unq_items=set(item)
    return len(unq_items)

In [33]:
print(check_unique(keys_id))

1

In [34]:
print(check_unique(values_id))

51210

**Observations**
- The keys are the same across all lines, therefore, can be removed, and only ID value can remain as item ID identifier

In [35]:
def clean_col(data,col_name):
    for index,row in data.iterrows():
        item=row[col_name]
        value=list(item.values())    
        data.loc[data.index[index], col_name]=str(value[0])
    return data

In [37]:
clean_col(data, '_id')

AttributeError: 'str' object has no attribute 'values'

In [39]:
data.head()

,__v,_id,created_at,filter_label,label,old_label,updated_at
0,0,557abe8565950003006fefe7,{'$date': '2015-06-12T11:12:05.248Z'},S,26,[26\],{'$date': '2015-07-07T16:29:11.868Z'}
1,0,557abe8565950003006fefe5,{'$date': '2015-06-12T11:12:05.244Z'},XS,24,"[24, 24\]",{'$date': '2015-07-07T16:27:03.743Z'}
2,0,557abe8565950003006fefe8,{'$date': '2015-06-12T11:12:05.249Z'},S,28,[28\],{'$date': '2015-07-07T16:36:22.139Z'}
3,0,557abe8565950003006fefe6,{'$date': '2015-06-12T11:12:05.247Z'},S,25,[25],{'$date': '2015-07-07T16:29:03.370Z'}
4,0,557abe8565950003006fefe9,{'$date': '2015-06-12T11:12:05.249Z'},M,30,[30\],{'$date': '2015-07-07T16:44:25.382Z'}

In [41]:
col_name2='created_at'

In [42]:
keys_cr_at, values_cr_at=flatten_dic(data,col_name2)

In [43]:
print(check_unique(keys_cr_at))

1

In [44]:
print(check_unique(values_cr_at))

43535

In [45]:
### observation: there are 43 535 craeted_at values, less than lines in the DF, therefore, we can assume this column has nan values

In [47]:
clean_col(data, col_name2)

AttributeError: 'str' object has no attribute 'values'

In [48]:
data.head()

,__v,_id,created_at,filter_label,label,old_label,updated_at
0,0,557abe8565950003006fefe7,2015-06-12T11:12:05.248Z,S,26,[26\],{'$date': '2015-07-07T16:29:11.868Z'}
1,0,557abe8565950003006fefe5,2015-06-12T11:12:05.244Z,XS,24,"[24, 24\]",{'$date': '2015-07-07T16:27:03.743Z'}
2,0,557abe8565950003006fefe8,2015-06-12T11:12:05.249Z,S,28,[28\],{'$date': '2015-07-07T16:36:22.139Z'}
3,0,557abe8565950003006fefe6,2015-06-12T11:12:05.247Z,S,25,[25],{'$date': '2015-07-07T16:29:03.370Z'}
4,0,557abe8565950003006fefe9,2015-06-12T11:12:05.249Z,M,30,[30\],{'$date': '2015-07-07T16:44:25.382Z'}

In [49]:
data['created_at']  = pd.to_datetime(data['created_at'])

In [61]:
data.head()

,__v,_id,created_at,filter_label,label,old_label,updated_at
0,0,557abe8565950003006fefe7,2015-06-12 11:12:05.248,S,26,[26\],2015-07-07 16:29:11.868
1,0,557abe8565950003006fefe5,2015-06-12 11:12:05.244,XS,24,"[24, 24\]",2015-07-07 16:27:03.743
2,0,557abe8565950003006fefe8,2015-06-12 11:12:05.249,S,28,[28\],2015-07-07 16:36:22.139
3,0,557abe8565950003006fefe6,2015-06-12 11:12:05.247,S,25,[25],2015-07-07 16:29:03.370
4,0,557abe8565950003006fefe9,2015-06-12 11:12:05.249,M,30,[30\],2015-07-07 16:44:25.382

In [62]:
col_name3='updated_at'

In [63]:
keys_updt_at, values_updt_at=flatten_dic(data,col_name3)

AttributeError: 'Timestamp' object has no attribute 'keys'

In [54]:
print(check_unique(keys_updt_at))

1

In [55]:
print(check_unique(values_updt_at))

46594

In [56]:
### observation: there are 46 594 craeted_at values, less than lines in the DF, therefore, we can assume this column has nan values

In [ ]:
clean_col(data, col_name3)

In [58]:
data['updated_at']  = pd.to_datetime(data['updated_at'])

In [64]:
data.head()

,__v,_id,created_at,filter_label,label,old_label,updated_at
0,0,557abe8565950003006fefe7,2015-06-12 11:12:05.248,S,26,[26\],2015-07-07 16:29:11.868
1,0,557abe8565950003006fefe5,2015-06-12 11:12:05.244,XS,24,"[24, 24\]",2015-07-07 16:27:03.743
2,0,557abe8565950003006fefe8,2015-06-12 11:12:05.249,S,28,[28\],2015-07-07 16:36:22.139
3,0,557abe8565950003006fefe6,2015-06-12 11:12:05.247,S,25,[25],2015-07-07 16:29:03.370
4,0,557abe8565950003006fefe9,2015-06-12 11:12:05.249,M,30,[30\],2015-07-07 16:44:25.382

In [67]:
data[['old_label','filter_label','label']]

,old_label,filter_label,label
0,[26\],S,26
1,"[24, 24\]",XS,24
2,[28\],S,28
3,[25],S,25
4,[30\],M,30
5,"[6 - 12m, 6-12 months, 6-12m, 6- 12 Months, 6 ...",0-1 years,6 - 12 months
6,"[3 - 6 months, 3 - 6m, 3-6 Months, 3-6m, EU 16...",0-1 years,3 - 6 months
7,"[2yrs, 2 years, 2y, Age 2, 2 years (92), 2 yea...",1-2 years,2 years
8,[54],NaN,54
9,[48],NaN,48
10,[12-24 months],1-2 years,12 - 24 months
11,[C],NaN,C
12,[sand],NaN,Sand
13,"[Pink, fluorescent pink, pink grapefruit, Pink...",NaN,Pink
14,[D],NaN,D
15,[Anthracite],NaN,Anthracite
16,"[N, UK N, Size N, 53, Large N-O]",NaN,N
17,[Full alphabet],NaN,Full alphabet
18,"[12-18m, 12 - 18m, 12 - 18 Months, 12-18 month...",0-1 years,12 - 18 months
19,"[18-24m, 18 - 24m, 18 - 24 Months, 18-24, 18-2...",1-2 years,18 - 24 months
20,"[6 years, Age 6, 6y, 6 years (116), 6 years (1...",5-7 years,6 years
21,"[R, UK R]",NaN,R
22,"[1 - 2yrs, 1-2 years, 1- 2yrs, 1 - 2 years, 1-...",1-2 years,1 - 2 years
23,"[12m, 12 Months]",0-1 years,12 months
24,"[7 - 8 years, 7 - 8yrs, 7-8 yrs, 7-8 years, 7-...",8-10 years,7 - 8 years
25,"[2-3 years, 2 - 3yrs, 2-3y, 2 - 3 Years, Age 2...",2-4 years,2 - 3 years
26,[UK 4.5 / EUR 21],1-2 years,21 / UK 4.5
27,[Teal],NaN,Teal
28,"[8 years, Age 8, 8y, 8 years (128), 8years]",8-10 years,8 years
29,"[6-9 months, 6 - 9 months, 6 - 9m, 6-9 m, 6-9m]",0-1 years,6 - 9 months
...,...,...,...
51180,[],NaN,XS / orange
51181,[],NaN,S / orange
51182,[],NaN,M / orange
51183,[],NaN,Size 5 / Deep Green
51184,[],NaN,Bundle #37178
51185,[],NaN,Black Bloom / XS
51186,[],NaN,Monday 20th August 2-5pm
51187,[],NaN,Monday 5th November 2-5pm
51188,[],NaN,Saturday 11th August 11am-2pm
51189,[],NaN,Sunday 16th September 2-5pm
51190,[],NaN,M / Natural/Red Manganese
51191,[],NaN,26 / UK 8.5 / Rose Check
51192,[],NaN,6 - 7 Years / Red Sand
51193,[],NaN,Knight & Dragon
51194,[],NaN,9 Months / Powder blue
51195,[],NaN,4 Years / Navy Blue
51196,[],NaN,17.5 / Blue
51197,[],NaN,Set 16
51198,[],NaN,Small - 3
51199,[],NaN,Round - 3cm
51200,[],NaN,Round - 2cm
51201,[],NaN,4 - Small
51202,[],NaN,Dot graph
51203,[],NaN,Pink dots
51204,[],NaN,Grey dots
51205,[],NaN,XXL (36-38 waist) / Light Blue
51206,[],NaN,Bundle #37199
51207,[],NaN,Bundle #37201
51208,[],NaN,Bundle #37266
51209,[],NaN,Carnival / L